@import 'variables';
@import url('/fonts/stylesheet.css');

// bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/utilities';
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.1;

  @media only screen and (min-width: 768px) {
    font-size: 64px;
  }
}

h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.1;

  @media only screen and (min-width: 768px) {
    font-size: 48px;
  }
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

.highlight {
  font-weight: bold;
  color: #433E9A;
}

.inverted-colors {
  color: #fff;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  transition: ease-in-out all 0.1s;
  font-size: 1.15rem;
  line-height: 28px;
  padding: 14px 16px;
  letter-spacing: 1px;
  border: 0;
  box-shadow: -6px 6px 0px rgba(141, 77, 232, 0.25);
  border-radius: 2px;

  &:active {
    transform: translateY(4px);
    box-shadow: -2px 2px 0px rgba(141, 77, 232, 0.25) !important;
  }

  .disabled &,
  &.disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  .disabled & {
    line-height: 1.3;
  }

  .secondary-text {
    font-size: 13px;
  }
}

.btn-primary {
  background: linear-gradient(260.46deg, #3F07ED 21.76%, #F8CDF3 117.91%);

  &:hover {
    color: #000;
    background: linear-gradient(91.88deg, #E4E3E6 3.18%, #AB95F0 97.4%);

    .btn-secondary & {
      color: #fff;
      background: linear-gradient(260.46deg, #3F07ED 21.76%, #F8CDF3 117.91%);
    }
  }

  .btn-secondary & {
    background: linear-gradient(91.88deg, #E4E3E6 3.18%, #AB95F0 97.4%);
    box-shadow: -6px 6px 0px rgba(141, 77, 232, 0.25);
    border-radius: 2px;
    color: #000;
  }
}

.btn-social {
  box-shadow: -8px 8px 0px #FFFFFF;
  height: 58px;
  width: 58px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 0.1s;

  &:active {
    transform: translateY(4px);
    box-shadow: -2px 2px 0px #FFFFFF;
  }

  &.tw {
    background-color: #1DA1F2;
  }

  &.tg {
    background-color: #0088CC;
  }

  &.dc {
    background-color: #7289DA;
  }

  &.gh {
    background-color: #231E1B;
  }

  &.mt {
    margin-top: 100px;
  }
}

.form {
  display: flex;
  .form-input {
    padding: 4px 10px;
    border: 1px solid #3f07ed;
    box-shadow: -6px 6px 0px rgb(141 77 232 / 25%);
    border-radius: 2px;
    margin-right: 20px;

    @media only screen and (min-width: 992px) {
      width: 25%;
    }
  }
}

.page-section {
  position: relative;
  overflow: hidden;
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.element-left,
.element-right,
.element-left-animated,
.element-right-animated {
  .container {
    position: relative;
    z-index: 1;
  }
}

.element-left {
  .container {
    &:before {
      content: '';
      background-position: 100% 50%;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      height: 100%;
      z-index: -1;
    }
  }
}

.element-right {
  .container {
    &:after {
      content: '';
      background-position: 100% 50%;
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      top: 0;
      bottom: 0;
      height: 100%;
      z-index: -1;
    }
  }
}

.element-left-animated {
  .svg-el-left {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    background-image: none !important;
  }
}

.element-right-animated {
  .svg-el-right {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    background-image: none !important;
  }
}

.header {
  padding-top: 50px;
  padding-bottom: 20px;

  .container {
    display: flex;
    justify-content: center;

    @media only screen and (min-width: 768px) {
      justify-content: inherit;
    }
  }

  .header-nav {
    margin-left: auto;
    display: flex;
    align-items: center;

    .header-nav-icon {
      &:hover {
        svg {
          transition: fill ease-in 0.1s;
          fill: #131D42;
        }
      }
    }

    .header-nav-item {
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.hero-section {
  background-image: url('/assets/hero-bg.svg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-section-inner {
    padding: 20px 0 50px;
    overflow: hidden;
    position: relative;
  }

  .hero-el {
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    margin-top: -90px;

    @media only screen and (min-width: 768px) {
      position: relative;
      top: auto;
      right: auto;
      margin-top: 0;
    }
  }

  .text-el {
    z-index: 1;
  }

  .center-sm {    
    text-align: center;

    @media only screen and (min-width: 768px) {
      text-align: left;
    }
  }

  h1 {
    margin-top: 40px;
  }
}

.partners {
  background: linear-gradient(360deg, #020009 -21.15%, #0E1631 139.42%);
  display: flex;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
    max-width: 1000px;
  }

  figure {
    margin: 5px;
    display: flex;
    height: 35px;
  }
}

.protocol-section {
  h2 {
    margin-bottom: 70px;
  }

  .container {
    @media only screen and (min-width: 768px) {
      padding-top: 80px;
      padding-bottom: 110px;
    }

    &:before,
    .svg-el-left {
      background-image: url('/assets/elements/protocol1.svg');
      width: 192px;
      height: 400px;
      background-position: 100% 5%;
      left: -15%;

      @media only screen and (min-width: 992px) {
        left: 0;
        background-position: center;
      }
    }

    &:after,
    .svg-el-right {
      background-image: url('/assets/elements/protocol2.svg');
      width: 133px;
      right: -15%;
      height: 100%;
      background-position: 100% 90%;

      @media only screen and (min-width: 992px) {
        right: 0;
        height: 510px;
        background-position: bottom;
      }
    }
  }
}

.start-staking-section {
  background-color: #FBF8FE;
  position: relative;
  overflow: hidden;

  h2 {
    margin-bottom: 40px;
    @media only screen and (min-width: 768px) {
      margin-bottom: 80px;
    }
  }

  .container {
    @media only screen and (min-width: 768px) {
      padding-top: 140px;
      padding-bottom: 110px;
    }

    &:before,
    .svg-el-left {
      background-image: url('/assets/elements/staking1.svg');
      width: 171px;
      left: 50px;
      display: none;

      @media only screen and (min-width: 992px) {
        display: block;
      }
    }

    &:after,
    .svg-el-right {
      background-image: url('/assets/elements/staking2.svg');
      width: 209px;
      right: -15%;

      @media only screen and (min-width: 768px) {
        right: 50px;
      }
    }
  }
}

.form-section {
  h2 {
    margin-bottom: 50px;
  }
  .container {
    @media only screen and (min-width: 768px) {
      padding-top: 110px;
    }
  }
}

.staking-section {
  background-image: url('/assets/staking-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  h2 {
    margin-bottom: 60px;
  }

  .staking-section-item {
    font-weight: 600;

    &:before {
      content: '';
      width: 13px;
      height: 13px;
      border: 1px solid #000;
      display: inline-block;
      border-radius: 50%;
      vertical-align: baseline;
      margin-right: 10px;
    }

    &.item-green {
      &:before {
        background: #35FF92;
      }
    }

    &.item-pink {
      &:before {
        background: #F7CDF3;
        border: 1px solid #000;
      }
    }

    &.item-blue {
      &:before {
        background: #3F07ED;
        border: 1px solid #000;
      }
    }
  }

  .container {
    @media only screen and (min-width: 768px) {
      padding-top: 80px;
      padding-bottom: 110px;
    }

    &:after {
      background-image: url('/assets/elements/s-icon.svg');
      width: 211px;
      right: -15%;
      background-position: bottom;

      @media only screen and (min-width: 992px) {
        right: 60px;
        background-position: center;
      }
    }
  }

}

.video-section {
  position: relative;
  overflow: hidden;

  &:after {
    width: 100%;
    height: 50%;
    content: '';
    background: #353B8B;
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }

  h2 {
    margin-bottom: 50px;
  }

  .container {
    z-index: inherit;

    @media only screen and (min-width: 768px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    &:before {
      background-image: url('/assets/elements/all1.svg');
      width: 106px;
      left: 150px;
      z-index: 0;
    }

    &:after {
      background-image: url('/assets/elements/all2.png');
      width: 585px;
      right: 0;
      z-index: -1;
    }
  }

  .video-el {
    padding: 56.25% 0 0 0;
    position: relative;
    background-color: #34454E;
  }
}

.connect-section {
  background-image: url('/assets/connect-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  h2 {
    margin-bottom: 60px;
  }

  .container {
    @media only screen and (min-width: 768px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &:before {
      background-image: url('/assets/elements/connect1.svg');
      width: 136px;
      left: 150px;
      display: none;

      @media only screen and (min-width: 992px) {
        display: block;
      }
    }

    &:after {
      background-image: url('/assets/elements/connect2.svg');
      width: 257px;
      right: 50px;
      display: none;

      @media only screen and (min-width: 992px) {
        display: block;
      }
    }
  }
}

.dive-section {
  background: linear-gradient(176.17deg, #3F07ED -7%, rgb(0, 0, 0) 33%, rgb(0, 0, 0) 100%);

  h2 {
    margin-bottom: 70px;
  }

  .dive-section-inner {
    background: linear-gradient(260.46deg, #3F07ED 21.76%, #F8CDF3 117.91%);
    box-shadow: -6px 6px 0px rgba(141, 77, 232, 0.25);
    border-radius: 2px;
    padding: 30px 50px 20px;
    margin: 0;
  }

  .dive-section-half {
    max-width: 370px;
    margin: 0 auto;
  }

  .container {
    @media only screen and (min-width: 768px) {
      padding-top: 80px;
      padding-bottom: 200px;
    }

    &:before,
    .svg-el-left {
      background-image: url('/assets/elements/divein1.svg');
      width: 364px;
      left: 0px;
    }

    &:after,
    .svg-el-right {
      background-image: url('/assets/elements/divein2.svg');
      width: 429px;
      right: -15%;

      @media only screen and (min-width: 768px) {
        right: 0;
      }
    }
  }
}

.footer-section {
  background-color: #131D42;
  padding: 60px 0;

  @media only screen and (min-width: 768px) {
    padding: 150px 0;
  }

  .connect-column {
    margin-left: auto;
    h4 {
      text-align: center;
      margin-bottom: 16px;

      @media only screen and (min-width: 768px) {
        text-align: left;
      }
    }
  }

  .footer-nav {
    padding: 0 25px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .footer-nav-link {
      color: #fff;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-connect {
  display: flex;
  justify-content: space-between;
  max-width: 140px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }

  .footer-connect-item {
    background-color: #3F07ED;
    height: 32px;
    width: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color ease-out 0.1s;

    &:hover {
      background-color: #F8CDF3;
    }
  }
}

// hero.svg animations
.svg-net {
  animation: waveAnimation 20s ease-in-out alternate infinite;
  will-change: transform;
}

.svg-flicker {
  animation: flickerAnimation 3s ease-in-out alternate infinite;
}

.svg-floating {
  animation: floatYAnimation 5s ease-in-out infinite alternate;
  will-change: transform;
}

.svg-floating-h {
  animation: floatXAnimation 5s ease-in-out infinite alternate;
  will-change: transform;
}

.svg-line {
  animation: drawAnimation ease-in-out infinite;
}

.delay1 {
  animation-delay: 1s;
}

.delay2 {
  animation-delay: 3s;
}

.delay3 {
  animation-delay: 6s;
}

.speed1 {
  animation-duration: 4s;
}

.speed2 {
  animation-duration: 6s;
}

.speed3 {
  animation-duration: 8s;
}

.speed4 {
  animation-duration: 12s;
}

.speed5 {
  animation-duration: 16s;
}

@keyframes waveAnimation {
  0% {
    transform: rotate(0deg) scale(1) skew(0deg);
  }
  50% {
    transform: rotate(2deg) scale(1.04) skew(-5deg) translateY(-5px);
  }
}

@keyframes flickerAnimation {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0;
  }
}

@keyframes drawAnimation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 400;
  }
}

@keyframes floatYAnimation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes floatXAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(40px);
  }
}
